<% content_for :title do %>Create an Account  - Transparental Solutions<% end %>
<% content_for :meta_description do %>Sign up for Transparental Solutions to access exclusive IT services and job opportunities. Join our community and unlock latest technology solutions.<% end %>
  
<% content_for :meta_tags do %>
  <meta property="og:title" content="Create an Account  - Transparental Solutions">
  <meta property="og:description" content="Sign up for Transparental Solutions to access exclusive IT services and job opportunities. Join our community and unlock latest technology solutions.">
  <meta property="og:image" content="<%= image_url("logo.png")%>">
  <meta property="og:image:width" content="1024" />
  <meta property="og:image:height" content="663" />
  <meta property="og:image:type" content="image/png" />
  <meta property="og:url" content="<%= request.original_url %>">
  <meta property="og:type" content="website">
  <meta property="og:site_name" content="Transparental Solutions">

  <!-- Twitter Meta Tags -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="Create an Account  - Transparental Solutions">
  <meta name="twitter:description" content="Sign up for Transparental Solutions to access exclusive IT services and job opportunities. Join our community and unlock latest technology solutions.">
  <meta name="twitter:image" content="<%= image_url("logo.png")%>">
<% end %>

<div align="center" class="h4-heading">Sign up</div>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: "form-signup" }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <div class="mb-3">
    <%= f.label :email, class: "form-label" %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control form-control-lg" %>
  </div>
  <div class="mb-3">
    <%= f.label :password, class: "form-label" %>
    <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password", class: "form-control form-control-lg" %>
  </div>
  <div class="mb-3">
    <%= f.label :password_confirmation, class: "form-label" %>
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control form-control-lg" %>
  </div>
  <div class="text-center">
    <%= f.submit "Sign up", class: "btn-login" %>
  </div>
  <div class="text-center">
    <p>Already have an account? <%= render "devise/shared/links" %></p>
  </div>
<% end %>
    