<% content_for :title do %>Manage Personal Information and Settings - Transparental Solutions<% end %>
<% content_for :meta_description do %>Update your profile on Transparental Solutions. Manage contact details, change your password, and keep your account information up-to-date.<% end %>
  
<% content_for :meta_tags do %>
  <meta property="og:title" content="Manage Personal Information and Settings - Transparental Solutions">
  <meta property="og:description" content="Update your profile on Transparental Solutions. Manage contact details, change your password, and keep your account information up-to-date.">
  <meta property="og:image" content="<%= image_url("user_profile_logo.jpg")%>">
  <meta property="og:image:width" content="1024" />
  <meta property="og:image:height" content="663" />
  <meta property="og:image:type" content="image/jpg" />
  <meta property="og:url" content="<%= request.original_url %>">
  <meta property="og:type" content="website">
  <meta property="og:site_name" content="Transparental Solutions">

  <!-- Twitter Meta Tags -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="Manage Personal Information and Settings - Transparental Solutions">
  <meta name="twitter:description" content="Update your profile on Transparental Solutions. Manage contact details, change your password, and keep your account information up-to-date.">
  <meta name="twitter:image" content="<%= image_url("user_profile_logo.jpg")%>">
<% end %>

<div class="offwrap"></div>
<section>
  <!-- Main content Start -->
  <div class="main-content">
    <!--Full width header Start-->
    <%= render "pages/header" %>
    <!--Full width header End-->
  </div>  
</section>
<section>
  <div class="rs-breadcrumbs bg-light bg-profile" style="height: 270px;">
    <div class="container">
      <div class="breadcrumbs-inner" style="height: 270px;">
        <div>
        <h1 class="page-title">
          My Profile
        </h1>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <h4 class="mt-5">Profile Picture</h4>
    <div class="row">
      <div class="col-md-3">
        <div class="avatar-upload">
          <div class="avatar-preview">
            <% if current_user.profile_photo.attached? %>
              <%= image_tag(current_user.profile_photo, alt: "Profile Photo", class: "profile-image") if current_user.profile_photo.attached? %>
            <% else %>
              <%= image_tag('placeholder.png', alt: "placeholder") %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="col-md-9">
        <%= form_with model: @user, url: user_url(id: current_user.id), html: { class: "form-horizontal", novalidate: true } do |form| %>   
          <h4 class="mt-5 mb-3">Upload Profile Picture</h4>
          <div class="update-profile-main mb-4">
            <div class="mb-3">
              <div class="col-sm-10">
                <%= form.file_field :profile_photo, class: "form-control", style: "padding-bottom:35px" ,accept: ".jpg , .png , .pdf"%>
                <% if @user.profile_photo.attached? %>
                  <%= @user.profile_photo.filename.to_s %>
                <% end %>
              </div>
            </div>
            <%= form.submit "Save", class: "btn btn-primary submit-profile" %>  
          </div>
        <% end %>
        <h4 class="mt-5 mb-3">Update Profile Details</h4>
        <%= form_with model: @user, url: user_url(id: current_user.id), html: { class: "form-horizontal", novalidate: true, data: { controller: "form", target: "form.form", action: "submit->form#submitForm" } } do |form| %>   
          <div class="update-profile-main">
            <div class="mb-3 mt-3">
              <%= form.label :first_name , style:"padding: .4rem 0;" , class:"form_label"%>
              <span style="color: #f00;">*</span>
              <%= form.text_field :first_name, class: "form-control" , style: "padding:15px", required: true %>
              <div id="first_name_error" class="error-message"></div>
            </div>
            <div class="mb-3 mt-3">
              <%= form.label :last_name , style:"padding: .4rem 0;" , class:"form_label"%>
              <span style="color: #f00;">*</span>
              <%= form.text_field :last_name, class: "form-control", style: "padding:15px" , required: true %>
              <div id="last_name_error" class="error-message" ></div>
            </div>
            <div class="mb-3 mt-3">
              <%= form.label :mobile_number , style:"padding: .4rem 0;" , class:"form_label"%>
              <span style="color: #f00;">*</span>
              <%= form.telephone_field :mobile_number, class: "form-control" , style: "padding:15px" , required: true %>
              <div id="mobile_number_error" class="error-message"></div>
            </div>
            <div class="mb-3 mt-3">
              <%= form.label :email , style:"padding: .4rem 0;" , class:"form_label"%>
              <%= form.email_field :email, class: "form-control" , style: "padding:15px" , required: true , readonly: true %>
              <div id="email_error" class="error-message"></div>
            </div>
            <%= form.submit "Save", class: "btn btn-primary submit-profile"%>  
          </div>
        <% end %>
        <%= form_with model: @user, url: user_url(id: current_user.id), html: { class: "form-horizontal", novalidate: true, data: { controller: "form", target: "form.form", action: "submit->form#submitForm" } } do |form| %> 
          <h4 class="mt-5 mb-3">Address Information</h4>
          <div class="update-profile-main">
            <div class="mb-3 mt-3">
              <%= form.label :country , style:"padding: .4rem 0;" , class:"form_label"%>
              <span style="color: #f00;">*</span>
              <%= form.text_field :country, class: "form-control" , style: "padding:15px" , required: true %>
              <div id="country_error" class="error-message"></div>
            </div>
            <div class="mb-3 mt-3">
              <%= form.label :state , style:"padding: .4rem 0;" , class:"form_label"%>
              <span style="color: #f00;">*</span>
              <%= form.text_field :state, class: "form-control" , style: "padding:15px" , required: true %>
              <div id="state_error" class="error-message"></div>
            </div>
            <div class="mb-3 mt-3">
              <%= form.label :permanent_address , style:"padding: .4rem 0;" , class:"form_label"%>
              <span style="color: #f00;">*</span>
              <%= form.text_field :permanent_address, class: "form-control" , style: "padding:15px" , required: true %>
              <div id="permanent_address_error" class="error-message"></div>
            </div>
            <div class="mb-3 mt-3">
              <%= form.label :current_address , style:"padding: .4rem 0;" , class:"form_label"%>
              <span style="color: #f00;">*</span>
              <%= form.text_field :current_address, class: "form-control" , style: "padding:15px" , required: true %>
              <div id="current_address_error" class="error-message"></div>
            </div>
            <%= form.submit "Save", class: "btn btn-primary submit-profile" %>  
          </div>
        <% end %>
        <%= form_with model: @user, url: user_url(id: current_user.id), html: { class: "form-horizontal", novalidate: true, data: { controller: "form", target: "form.form", action: "submit->form#submitForm" } } do |form| %> 
          <h4 class="mt-5 mb-3">Upload Document</h4>
          <div class="update-profile-main mb-4">
            <div class="mb-3">
              <div class="col-sm-10">
                <%= form.file_field :file, class: "form-control" , style: "padding-bottom:35px" ,accept: ".jpg , .png , .pdf"%>
                <% if @user.file.attached? %>
                  <%= @user.file.filename.to_s %>
                <% end %>
              </div>
            </div>
            <%= form.submit "Save", class: "btn btn-primary submit-profile" %>  
          </div>
        <% end %>
      </div>	
    </div>
  </div>
</section>
<%= render "pages/footer" %>