<div class="full-width-header">
  <!--Header Start-->
  <header id="rs-header" class="rs-header style2 header-transparent">
    <!-- Menu Start -->
    <div class="menu-area menu-sticky">
      <div class="container custom">
        <div class="row-table">
          <div class="col-cell header-logo">                                  
            <div class="logo-area">
              <%= link_to root_path do %>
                <%= image_tag("logo.png") %> 
              <% end %>
            </div>
          </div>
          <div class="col-cell">
            <div class="rs-menu-area">
              <div class="main-menu">
                <nav class="rs-menu hidden-md">
                  <ul class="nav-menu">
                    <li class="<%='current-menu-item' if params[:action] == 'index' %>">
                      <%= link_to "Home", root_path, remote: false %>
                    </li>
                    <li class="<%= 'current-menu-item' if params[:action] == 'about' %>">
                      <%= link_to "About Us" , about_page_path, remote: false %>
                    </li>
                    <li class="menu-item-has-children service <%= 'current-menu-item' if params[:action] == 'service' %>">
                      <a href="<%= service_page_path %>">Services</a>
                      <ul class="sub-menu">
                        <li><a href="#">Custom Software Solutions</a></li>
                        <li><a href="#">IT Staffing & Services</a></li>
                        <li><a href="#">Managed IT Services</a></li>
                      </ul>	
                    </li>
                    <li class="<%= 'current-menu-item' if params[:action] == 'contact_us' %>">
                      <%= link_to "Contact" , contact_us_page_path %>
                    </li>
                    <li class="<%= 'current-menu-item' if params[:action] == 'careers' %>">
                      <%= link_to "Careers" , careers_page_path %>
                    </li>
                    <li class="<%= 'current-menu-item' if params[:action] == 'job_posting' %>">
                      <%= link_to "Job posting" , job_posting_page_path %>
                    </li>
                    <% if current_user %>
                      <li class="">
                        <%= link_to "Profile" , user_profile_path %>
                      </li>
                      <li class="">
                        <%= link_to "Log Out" , destroy_user_session_path %>
                      </li>
                    <% else %>
                      <li class="">
                        <%= link_to "Sign In" , new_user_session_path %>
                      </li>
                    <% end %>
                  </ul> <!-- //.nav-menu -->
                </nav>
              </div> <!-- //.main-menu -->
            </div>
          </div>
          <div class="">
            <div class="expand-btn-inner">
              <ul>
                <li class="humburger">
                  <a id="nav-expander" class="nav-expander bar" href="#">
                    <div class="bar">
                      <span class="dot1"></span>
                      <span class="dot2"></span>
                      <span class="dot3"></span>
                      <span class="dot4"></span>
                      <span class="dot5"></span>
                      <span class="dot6"></span>
                      <span class="dot7"></span>
                      <span class="dot8"></span>
                      <span class="dot9"></span>
                    </div>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Menu End -->
    <!-- Canvas Menu start -->
    <nav class="right_menu_togle hidden-md">
      <div class="close-btn">
        <a id="nav-close" class="nav-close">
          <div class="line">
            <span class="line1"></span>
            <span class="line2"></span>
          </div>
        </a>
      </div>
      <div class="canvas-logo">
        <a href="#"><%= image_tag("logo.png") %></a>
      </div>
      <div class="canvas-contact">
        <div class="address-area">
          <div class="address-list">
            <div class="info-icon">
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M12 20.7501L17.8868 14.8633C17.9962 14.759 18.2352 14.5115 18.2454 14.5008L18.2502 14.4957C19.7295 12.9091 20.5442 10.8405 20.5442 8.67102C20.5442 3.95979 16.7113 0.126953 12.0001 0.126953C7.28889 0.126953 3.45605 3.95979 3.45605 8.67102C3.45605 10.8405 4.27072 12.9091 5.74989 14.4957L12 20.7501ZM12.0001 0.948633C16.2582 0.948633 19.7225 4.41287 19.7225 8.67103C19.7225 10.6306 18.9871 12.4992 17.6516 13.9329C17.5823 14.0047 17.3944 14.1979 17.317 14.2713L12.0002 19.5878L6.3462 13.9303C5.01213 12.497 4.27771 10.6296 4.27771 8.67103C4.27771 4.41287 7.74189 0.948633 12.0001 0.948633Z" fill="#FF9700"></path>
                <path d="M13.3171 3.0038C14.7914 3.0038 17.6608 4.61593 17.6608 7.57117C17.6608 7.79808 17.8447 7.982 18.0717 7.982C18.2985 7.982 18.4825 7.79808 18.4825 7.57117C18.4825 6.0329 17.8026 4.60676 16.5683 3.55538C15.5888 2.72117 14.3126 2.18213 13.3171 2.18213C13.0902 2.18213 12.9062 2.36605 12.9062 2.59297C12.9062 2.81989 13.0902 3.0038 13.3171 3.0038Z" fill="#FF9700"></path>
                <path d="M17.1567 18.1471C16.8367 18.0163 16.492 17.8998 16.1283 17.7969L15.4553 18.4699C17.4388 18.9433 18.6618 19.7871 18.6618 20.5712C18.6618 21.7441 15.9262 23.0509 12.0005 23.0509C8.07497 23.0509 5.33923 21.7441 5.33923 20.5712C5.33923 19.7872 6.5622 18.9433 8.54574 18.4699L7.8727 17.7969C7.50909 17.8998 7.16435 18.0163 6.84442 18.1471C5.34392 18.7603 4.51758 19.6212 4.51758 20.5712C4.51758 21.5212 5.34394 22.3821 6.84442 22.9954C8.22833 23.561 10.0595 23.8725 12.0005 23.8725C13.9416 23.8725 15.7728 23.561 17.1567 22.9954C18.6572 22.3821 19.4834 21.5212 19.4834 20.5712C19.4834 19.6212 18.6572 18.7603 17.1567 18.1471Z" fill="#FF9700"></path>
                <path d="M12.0239 12.6027C9.74159 12.6027 7.88477 10.746 7.88477 8.46372C7.88477 6.18147 9.74159 4.32471 12.0239 4.32471C14.3062 4.32471 16.163 6.18145 16.163 8.46371C16.163 10.746 14.3062 12.6027 12.0239 12.6027ZM12.0239 5.14637C10.1946 5.14637 8.70643 6.63453 8.70643 8.46372C8.70643 10.2929 10.1946 11.7811 12.0239 11.7811C13.8531 11.7811 15.3413 10.2929 15.3413 8.46372C15.3413 6.63453 13.8531 5.14637 12.0239 5.14637Z" fill="#FF9700"></path>
              </svg>
            </div>
            <div class="info-content">
              <h4 class="title">Address</h4>
              <em>38251 Remington park , Farmington Hills,MI,48331
              </em>
            </div>
          </div>
          <div class="address-list">
            <div class="info-icon">
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_46_665)">
                <path d="M7.08156 4.59633C7.08485 4.59633 7.08812 4.59677 7.09141 4.59677H13.1389C13.3631 4.59677 13.5448 4.4151 13.5448 4.19096C13.5448 3.96676 13.3631 3.78516 13.1389 3.78516H8.51008H7.09141C6.86727 3.78516 6.68555 3.96676 6.68555 4.19096C6.68555 4.41177 6.86205 4.59105 7.08156 4.59633Z" fill="#FF9700"></path>
                <path d="M7.09141 6.63153H17.0837C17.3079 6.63153 17.4896 6.44981 17.4896 6.22568C17.4896 6.00149 17.3079 5.81982 17.0837 5.81982H7.09141C6.86727 5.81982 6.68555 6.00149 6.68555 6.22568C6.68555 6.44981 6.86728 6.63153 7.09141 6.63153Z" fill="#FF9700"></path>
                <path d="M7.09141 8.6667H17.0837C17.3079 8.6667 17.4896 8.48493 17.4896 8.26078C17.4896 8.14249 17.4387 8.03642 17.3579 7.96226C17.2856 7.89583 17.1896 7.85498 17.0837 7.85498H7.09141C6.98557 7.85498 6.88951 7.89583 6.81719 7.96226C6.73647 8.03642 6.68555 8.14249 6.68555 8.26078C6.68555 8.48493 6.86728 8.6667 7.09141 8.6667Z" fill="#FF9700"></path>
                <path d="M17.4896 10.2959C17.4896 10.0719 17.3079 9.89014 17.0837 9.89014H7.09141C6.86727 9.89014 6.68555 10.0719 6.68555 10.2959C6.68555 10.5201 6.86727 10.7019 7.09141 10.7019H17.0837C17.3079 10.7019 17.4896 10.5201 17.4896 10.2959Z" fill="#FF9700"></path>
                <path d="M23.6281 7.11335C23.595 7.06773 23.5522 7.02802 23.5001 6.99839L20.214 5.13225V4.03373V3.90235C20.1972 3.79918 20.1416 3.70901 20.0619 3.64814L19.4024 3.07701L17.6548 1.56357L16.8296 0.848953C16.7591 0.78786 16.6714 0.75534 16.5817 0.751953H16.5524H12.5009H11.6089H5.11688C4.47942 0.751953 3.96081 1.27055 3.96081 1.9079V5.09521L0.820983 6.87845C0.39861 7.03265 0.0957031 7.43729 0.0957031 7.91231V22.1462C0.0957031 22.7536 0.58989 23.2478 1.19733 23.2478H22.872C23.4794 23.2478 23.9736 22.7536 23.9736 22.1462V7.91231C23.9736 7.59773 23.8403 7.31431 23.6281 7.11335ZM21.5259 6.81073L22.7603 7.51183L22.6049 7.62251L20.214 9.3247V7.62251V6.81074V6.06577L21.5259 6.81073ZM18.7403 3.56593H16.9683V2.03135L18.7403 3.56593ZM4.77256 7.62251V6.81074V5.56773V4.63426V1.9079C4.77256 1.71805 4.92702 1.56357 5.11688 1.56357H10.1795H11.8233H12.2864H13.9303H16.1651V3.96751C16.1651 4.18926 16.3449 4.36898 16.5667 4.36898H19.4024V4.67122V5.60475V6.81073V7.6225V9.90254L14.1051 13.6741L13.428 14.1561L13.1801 14.3327L12.0989 15.1024L11.0177 14.3327L10.7696 14.156L10.0925 13.6739L4.77256 9.88631V7.62251ZM2.58373 6.81073L3.96081 6.02874V6.81073V7.6225V9.30841L1.5929 7.62251L1.39828 7.48391L2.58373 6.81073ZM0.90741 21.9863V8.13083L3.96081 10.3048L4.77254 10.8827L9.47626 14.2316L9.36464 14.3327L8.46774 15.1443L0.90741 21.9863ZM1.6202 22.4362L9.67745 15.1443L10.1534 14.7136L10.7583 15.1443L11.8636 15.9313C11.934 15.9815 12.0164 16.0065 12.099 16.0065C12.1814 16.0065 12.2639 15.9815 12.3343 15.9313L13.4395 15.1443L14.0442 14.7138L14.52 15.1443L22.5775 22.4362H1.6202ZM23.1619 21.8702L15.7297 15.1443L14.8328 14.3327L14.7214 14.2318L19.4024 10.899L20.214 10.321L23.1619 8.22229V21.8702Z" fill="#FF9700"></path>
                </g>
                <defs>
                <clipPath id="clip0_46_665">
                <rect width="24" height="24" fill="white"></rect>
                </clipPath>
                </defs>
              </svg>
            </div>
            <div class="info-content">
              <h4 class="title">Email</h4>
              <em><a href="mailto:info@transparentalsolutions.com">info@transparentalsolutions.com</a></em>
            </div>
          </div>
          <div class="address-list">
            <div class="info-icon">
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_45_656)">
                <path d="M23.5697 19.1442C23.4587 19.0289 23.3439 18.9097 23.204 18.802C21.824 17.7392 20.3142 16.7644 18.5884 15.822C18.3104 15.6702 18.0909 15.5504 17.8439 15.5504C17.5141 15.5504 17.2871 15.7567 16.9996 16.0179C16.6803 16.3081 16.3715 16.6 16.0762 16.8904C15.9139 17.0499 15.7556 17.209 15.6023 17.3669C15.5625 17.4079 15.5214 17.4419 15.4785 17.471C15.3285 17.573 15.1531 17.6057 14.9055 17.584C14.2581 17.5269 13.6036 17.3349 12.9044 16.9971C11.6992 16.4147 10.5918 15.5341 9.51912 14.305C8.18995 12.7819 7.27418 11.2101 6.71943 9.49977L6.66864 9.34432C6.59762 9.12808 6.51719 8.88295 6.53288 8.83065C6.54264 8.79783 6.59402 8.73715 6.6683 8.66085C6.75227 8.57444 6.86564 8.46791 6.9827 8.35803L7.02535 8.31804C7.10695 8.24133 7.19091 8.16537 7.27559 8.08988C7.46911 7.91733 7.66798 7.74776 7.86254 7.58232C8.06518 7.41008 8.27468 7.23195 8.4782 7.05011C8.96252 6.61721 9.06508 6.36779 8.71815 5.74435C8.04839 4.54086 7.28919 3.1768 6.48815 1.8503C6.25314 1.46128 5.96616 1.11302 5.68872 0.776175C5.56878 0.630535 5.4447 0.479962 5.32952 0.331309C5.25067 0.229495 5.12908 0.169922 5.00026 0.169922H4.86647C4.76786 0.169922 4.6725 0.204909 4.59723 0.268602C3.29036 1.37544 2.2331 2.71619 1.21058 4.01277L1.01682 4.25832C0.823882 4.50256 0.648202 4.75815 0.478335 5.00525C0.401562 5.11689 0.324802 5.22859 0.246575 5.33907C0.196709 5.40944 0.169922 5.49359 0.169922 5.57984V5.93648C0.169922 5.96526 0.172895 5.99391 0.178815 6.02204C0.208975 6.16575 0.237162 6.30999 0.265415 6.45423C0.328055 6.77479 0.392922 7.10627 0.479615 7.43344C0.942842 9.18093 1.71042 10.8626 2.82614 12.5748C5.20264 16.2213 8.19186 19.2497 11.7108 21.5756C13.3318 22.647 14.9072 23.3286 16.5269 23.6593C16.7544 23.7058 16.983 23.7416 17.2041 23.7761C17.3042 23.7917 17.4043 23.8074 17.5043 23.824C17.5269 23.8278 17.5498 23.8297 17.5727 23.8297H18.4197C18.4902 23.8297 18.5596 23.8118 18.6213 23.7777C20.3177 22.8396 21.7966 21.6641 23.0195 20.6378C23.1979 20.4882 23.3553 20.3249 23.5075 20.1671C23.5734 20.0989 23.6392 20.0306 23.7064 19.964C23.7852 19.8857 23.8296 19.7793 23.8296 19.6681V19.579C23.8296 19.4667 23.7843 19.3591 23.7039 19.2807C23.6583 19.2363 23.614 19.1902 23.5697 19.1442ZM4.89087 1.1173C4.94276 1.18092 4.9946 1.24387 5.04568 1.30594C5.31608 1.6341 5.57143 1.94415 5.77502 2.28103C6.56839 3.59482 7.32375 4.95207 7.99015 6.14944C8.02414 6.21057 8.05007 6.25933 8.06772 6.29559C8.02402 6.3386 7.96224 6.39373 7.92296 6.42884C7.72718 6.60388 7.52163 6.77857 7.32288 6.94756C7.11251 7.12644 6.89696 7.30991 6.68542 7.49965L2.68503 3.49926C3.36695 2.65988 4.08478 1.83694 4.89087 1.1173ZM18.3115 22.9965H17.6069C17.5155 22.9815 17.4241 22.9672 17.3327 22.9529C17.1113 22.9183 16.9021 22.8856 16.6936 22.843C15.1802 22.534 13.7006 21.8921 12.1702 20.8805C8.74696 18.6178 5.83795 15.6703 3.52408 12.1199C2.45758 10.4832 1.72511 8.8804 1.2849 7.22003C1.20528 6.9194 1.14588 6.61576 1.08302 6.29427C1.05687 6.16056 1.03066 6.02683 1.00304 5.89347V5.71151C1.05732 5.63364 1.11108 5.55541 1.16488 5.47719C1.33447 5.23044 1.49475 4.99735 1.67059 4.77476L1.86476 4.52869C1.9631 4.40399 2.06188 4.27881 2.16108 4.15357L6.07931 8.07179C5.90154 8.25443 5.79078 8.40431 5.7347 8.59184C5.64415 8.89451 5.73184 9.16159 5.87702 9.60407L5.92699 9.75679C6.51708 11.5763 7.48678 13.2432 8.89144 14.8528C10.0395 16.1683 11.2336 17.1151 12.542 17.7473C13.3336 18.1297 14.0827 18.3477 14.8324 18.4139C14.9046 18.4203 14.9752 18.4235 15.0421 18.4235C15.0421 18.4235 15.0421 18.4235 15.0421 18.4235C15.4484 18.4235 15.7873 18.3059 16.073 18.0655L19.9633 21.9558C19.4387 22.3206 18.8876 22.6733 18.3115 22.9965ZM22.4839 19.9996C21.9248 20.4689 21.3108 20.9697 20.6484 21.4626L16.6653 17.4795C16.9513 17.1985 17.2505 16.9157 17.5599 16.6344C17.6479 16.5544 17.7902 16.4252 17.8547 16.3873C17.9245 16.4087 18.0879 16.498 18.1892 16.5532C19.8764 17.4746 21.3504 18.4261 22.6957 19.4621C22.7554 19.5081 22.8141 19.5635 22.874 19.6238C22.7428 19.7597 22.6173 19.8878 22.4839 19.9996Z" fill="#FF9700"></path>
                <path d="M22.122 12.0148C21.236 12.0148 20.5152 11.2941 20.5152 10.4081C20.5152 6.95735 17.7079 4.14999 14.2571 4.14999C13.3712 4.14999 12.6504 3.4292 12.6504 2.54326C12.6504 1.65731 13.3712 0.936523 14.2571 0.936523C19.4798 0.936523 23.7287 5.18547 23.7287 10.4081C23.7287 11.2941 23.0079 12.0148 22.122 12.0148ZM14.2571 1.76964C13.8306 1.76964 13.4835 2.11668 13.4835 2.54326C13.4835 2.96982 13.8306 3.31687 14.2571 3.31687C18.1672 3.31687 21.3484 6.49796 21.3484 10.4081C21.3484 10.8347 21.6954 11.1817 22.122 11.1817C22.5485 11.1817 22.8956 10.8347 22.8956 10.4081C22.8956 5.64484 19.0204 1.76964 14.2571 1.76964Z" fill="#FF9700"></path>
                <path d="M17.9805 13.0996C17.3131 13.0996 16.7701 12.5567 16.7701 11.8892C16.7701 9.66416 14.9599 7.85391 12.7348 7.85391C12.0674 7.85391 11.5244 7.31095 11.5244 6.64351C11.5244 5.97607 12.0674 5.43311 12.7348 5.43311C16.2947 5.43311 19.1909 8.32933 19.1909 11.8892C19.1909 12.5567 18.648 13.0996 17.9805 13.0996ZM12.7348 6.26624C12.5267 6.26624 12.3575 6.43547 12.3575 6.64352C12.3575 6.85157 12.5267 7.02079 12.7348 7.02079C15.4193 7.02079 17.6032 9.20477 17.6032 11.8892C17.6032 12.0973 17.7725 12.2665 17.9805 12.2665C18.1886 12.2665 18.3578 12.0973 18.3578 11.8892C18.3578 8.78868 15.8354 6.26624 12.7348 6.26624Z" fill="#FF9700"></path>
                </g>
                <defs>
                <clipPath id="clip0_45_656">
                <rect width="24" height="24" fill="white"></rect>
                </clipPath>
                </defs>
              </svg>
            </div>
            <div class="info-content">
              <h4 class="title">Phone</h4>
              <em><a href="tel:320-412-3138">320-412-3138</a></em>
            </div>
          </div>
        </div>
        <ul class="social">
          <li> 
            <a href="#" target="_blank"><span><i class="fa fa-facebook"></i></span></a> 
          </li>
          <li> 
            <a href="#" target="_blank"><span><i class="fa fa-twitter"></i></span></a> 
          </li>
          <li> 
            <a href="#" target="_blank"><span><i class="fa fa-linkedin"></i></span></a> 
          </li>
          <li> 
            <a href="#" target="_blank"><span><i class="fa fa-instagram"></i></span></a> 
          </li>
        </ul>
      </div>
    </nav>
    <!-- Canvas Menu end -->
    <!-- Canvas Mobile Menu start -->
    <nav class="right_menu_togle mobile-navbar-menu" id="mobile-navbar-menu">
      <div class="close-btn hash-has-sub">
        <a id="nav-close2" class="nav-close hash">
          <div class="line">
            <span class="line1"></span>
            <span class="line2"></span>
          </div>
        </a>
      </div>
      <ul class="nav-menu">
        <li class="hash-has-sub current-menu-item">
          <a href="#" class="hash">Home</a>
        </li>
        <li class="hash-has-sub current-menu-item">
          <a href="#" class="hash">About Us</a>
        </li>
        <li class="menu-item-has-children hash-has-sub">
          <a href="#" class="hash">Services</a>
          <ul class="sub-menu">
            <li><a href="#">Custom Software Solutions</a></li>
            <li><a href="#">IT Staffing & Services</a></li>
            <li><a href="#">Managed IT Services</a></li>
          </ul>
        </li>
        <li class="hash-has-sub current-menu-item">
          <a href="#" class="hash">Contact</a>
        </li>
        <li class="hash-has-sub current-menu-item">
          <a href="#" class="hash">Careers</a>
        </li>
        <li class="hash-has-sub current-menu-item">
          <a href="#" class="hash">Job Posting</a>
        </li>
      </ul> <!-- //.nav-menu -->
      <div class="canvas-contact">
        <div class="address-area">
          <div class="address-list">
            <div class="info-icon">
              <i class="flaticon-location"></i>
            </div>
            <div class="info-content">
              <h4 class="title">Address</h4>
              <em>38251 Remington park , Farmington Hills,MI,48331</em>
            </div>
          </div>
          <div class="address-list">
            <div class="info-icon">
              <i class="flaticon-email"></i>
            </div>
            <div class="info-content">
              <h4 class="title">Email</h4>
              <em class="hash-has-sub"><a href="mailto:info@transparentalsolutions.com" class="hash">info@transparentalsolutions.com</a></em>
            </div>
          </div>
          <div class="address-list">
            <div class="info-icon">
              <i class="flaticon-call"></i>
            </div>
            <div class="info-content">
              <h4 class="title">Phone</h4>
              <em><a href="tel:320-412-3138">320-412-3138</a></em>
            </div>
          </div>
        </div>
      </div>
    </nav>
    <!-- Canvas Menu end -->
  </header>
  <!--Header End-->
</div>
