<% content_for :title do %>Trusted Partner in IT & Custom Software Development - Transparental Solutions<% end %>
<% content_for :meta_description do %>This version highlights transformation and strategic services, focusing on how Transparental Solutions helps businesses grow with tailored IT and software offerings.<% end %>
  
<% content_for :meta_tags do %>
  <meta property="og:title" content="Trusted Partner in IT & Custom Software Development - Transparental Solutions">
  <meta property="og:description" content="This version highlights transformation and strategic services, focusing on how Transparental Solutions helps businesses grow with tailored IT and software offerings.">
  <meta property="og:image" content="<%= image_url("about_us.png")%>">
  <meta property="og:image:width" content="1024" />
  <meta property="og:image:height" content="663" />
  <meta property="og:image:type" content="image/png" />
  <meta property="og:url" content="<%= request.original_url %>">
  <meta property="og:type" content="website">
  <meta property="og:site_name" content="Transparental Solutions">

  <!-- Twitter Meta Tags -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="Trusted Partner in IT & Custom Software Development - Transparental Solutions">
  <meta name="twitter:description" content="This version highlights transformation and strategic services, focusing on how Transparental Solutions helps businesses grow with tailored IT and software offerings.">
  <meta name="twitter:image" content="<%= image_url("about_us.png")%>">
<% end %>

<div class="offwrap"></div>
<section>
  <!-- Main content Start -->
  <div class="main-content">
    <!--Full width header Start-->
    <%= render "header" %>
    <!--Full width header End-->
  </div>  
</section>
<section>
  <div class="rs-breadcrumbs img1">
    <div class="container">
      <div class="breadcrumbs-inner">
        <div>
        <h1 class="page-title">
          About Us
          <span class="watermark">About</span>
        </h1>
        <span class="sub-text"> Transparental Solutions works in offering Custom Software Solutions, IT Staffing &amp; Services,
          and Managed IT Services</span>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="rs-about style2 pt-100 pb-100 md-pt-70 md-pb-70">
    <div class="container position-relative">
      <div class="row">
        <div class="col-lg-6 col-md-6 pr-33 md-pr-15 md-mb-50">
          <div class="images-part">
            <%= image_tag("about_us.png", alt: "about us")%>
          </div>
        </div>
        <div class="col-lg-6 col-md-6">
          <div class="sec-title">
            <h2 class="title pb-22">
              Transparental Solutions works in offering Custom Software Solutions, IT Staffing &amp; Services, and Managed
              IT Services
            </h2>
            <span class="sub-text big">Throughout the long term, we have been assisting our clients with
              accomplishing functional greatness and consistency on the software. We aim to deliver
              quality services and support to accomplish excellence and enable you to turn into an
              innovation-driven enterprise.</span>

            <p class="sub-text big margin-0 pt-15">We believed in advanced innovation accomplices of
              business empowering them to use IT as an essential resource. We are a blend of team
              engaged by innovation skills, flawless execution capacities, and keen focus on the
              client needs; we have had the option to support accomplishment in a wide range of
              technologies and verticals.</p>
            <div class="btn-part mt-45 md-mt-30">
              <a class="readon consultant discover" href="/contact_us">Contact Us</a>
            </div>
          </div>
        </div>
      </div>
      <div class="rs-animation">
        <div class="animate-style">
          <%= image_tag("tri-circle.png", alt: "tri circle") %>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div id="rs-services" class="rs-services chooseus-style about-style bg12 pt-100 pb-100 md-pt-70 md-pb-70">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-4 md-mb-30">
          <div class="services-item">
            <div class="services-icon">
              <%= image_tag("1.png", alt: "logo") %>
            </div>
            <div class="services-text">
              <div class="title"><a>Expert peoples</a></div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 sm-mb-30">
          <div class="services-item">
            <div class="services-icon">
              <%= image_tag("2.png", alt: "logo") %>
            </div>
            <div class="services-text">
              <div class="title"><a>Big experience</a></div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4">
          <div class="services-item">
            <div class="services-icon">
              <%= image_tag("3.png", alt: "logo") %>
            </div>
            <div class="services-text">
              <div class="title"><a>Committed to quality</a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="rs-choose pt-50 pb-50 md-pt-50 md-pb-50">
  <div class="container">
    <div class="row y-middle">
      <div class="col-lg-6 pr-70 md-pr-15 md-mb-50">
        <div class="sec-title mb-35">
          <h2 class="title pb-30">
            Why choose us
          </h2>
          <p class="">We have designed various applications, built various innovation teams and
            frameworks, and conveyed huge monetary outcomes to our clients. We have been lucky to
            work across different verticals and industry pioneers among them and have acquired
            insight into the most complex business environments.</p>
          <p class="margin-0">At Transparental Solutions, we endeavour to fabricate innovative and adaptable solutions
            which meet the needs of our clients in a unique way.</p>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="rs-videos choose-video">
          <div class="images-video">
            <%= image_tag("why_choose_us.png", alt: "why choose us") %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Counter Section End -->
  <div class="rs-counter style1 pt-100 md-pt-70">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-6 md-mb-30">
          <div class="counter-area">
            <div class="counter-list mb-20">
              <div class="counter-icon">
                <%= image_tag("completed.png", alt: "logo") %>
              </div>
              <div class="counter-number" >
                <span class="rs-count" id="Projects_completed">45</span>
              </div>
            </div>
            <div class="content-part">
              <div class="title">Projects completed for our respected clients.</div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 md-mb-30">
          <div class="counter-area">
            <div class="counter-list mb-20">
              <div class="counter-icon">
                <%= image_tag("2.png", alt: "logo") %>
              </div>
              <div class="counter-number">
                <span class="rs-count" id="Experienced_people">20</span>
                <span class="prefix">+</span>
              </div>
            </div>
            <div class="content-part">
              <div class="title">Experienced people serving to clients.</div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 xs-mb-30">
          <div class="counter-area">
            <div class="counter-list mb-20">
              <div class="counter-icon">
                <%= image_tag("experience popup.png", alt: "logo") %>
              </div>
              <div class="counter-number">
                <span class="rs-count" id="experience">10</span>
                <span class="prefix">+</span>
              </div>
            </div>
            <div class="content-part">
              <div class="title">Years experience in business &amp; consulting.</div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="counter-area">
            <div class="counter-list mb-20">
              <div class="counter-icon">
                <%= image_tag("awards.png", alt: "logo") %>
              </div>
              <div class="counter-number">
                <span class="rs-count" id="awards">12</span>
                <span class="prefix">+</span>
              </div>
            </div>
            <div class="content-part">
              <div class="title">Business &amp; consulting awards won over world.</div>
            </div>
          </div>
        </div>
     </div>
    </div>
  </div>
</div>
<div class="rs-testimonial main-home bg6 pt-50 pb-50 md-pt-50 md-pb-50">
  <div class="container">
    <div class="row y-middle">
      <div class="col-lg-6 col-sm-4 md-mb-40">
        <div class="testi-image">
          <%= image_tag("customers_say.png", alt: "customers say") %>
        </div>
      </div>
      <div class="col-lg-6  col-sm-8 pl-60 md-pl-15">
        <div class="owl-carousel owl-theme testimonial">
          <div class="item">
            <div class="testi-item">
              <div class="item-content">
                <span class="icon-img">
                  <%= image_tag("quote.png", alt: "quote") %>
                </span>
                <p class="desc">
                  I’m so pleased with the good company culture here at Transparental Solutions. Employees adhere
                  to company policies and procedures and behave well. I’m really happy working
                  here and continuing my career furthermore here
                </p>
              </div>
              <div class="testi-content">
                <div class="testi-information">
                    <div class="testi-name">-Mounika Reddy</div>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="testi-item">
              <div class="item-content">
                <span class="icon-img">
                  <%= image_tag("quote.png", alt: "quote") %>
                </span>
                <p class="desc">
                  Excellent educational standards! as well as effective communication... My
                  knowledge was completely empty when I started my full stack programming course.
                  This training is extremely beneficial to both beginners and professionals. They
                  were thorough in their explanations of any doubts or topics.</p>
              </div>
              <div class="testi-content">
                <div class="testi-information">
                  <div class="testi-name">-Raj Kumar</div>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="testi-item">
              <div class="item-content">
                <span class="icon-img">
                  <%= image_tag("quote.png", alt: "quote") %>
                </span>
                <p class="desc">
                  Good for Beginners to understand the basic knowledge of Salesforce. Transparental Solutions
                  provides a full-fledged course in the most informative and well-chosen modules.
                  This is the most optional course with the most qualified experts.
                </p>
              </div>
              <div class="testi-content">
                <div class="testi-information">
                  <div class="testi-name">-Keerti</div>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="testi-item">
              <div class="item-content">
                <span class="icon-img">
                  <%= image_tag("quote.png", alt: "quote") %>
                </span>
                <p class="desc">
                    I have been working at Transparental Solutions, for the past 2 years as a salesforce
                    administrator. I have found very friendly management here, and I would recommend
                    it for its perfect work environment to help your professional career. </p>
              </div>
              <div class="testi-content">
                <div class="testi-information">
                  <div class="testi-name">-Navya</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render "footer" %>