<% content_for :title do %>Join Our Team - Careers at Transparental Solutions<% end %>
<% content_for :meta_description do %>Explore exciting career opportunities at Transparental Solutions. Join our dynamic team of IT professionals and help businesses thrive with cutting-edge technology solutions.<% end %>
  
<% content_for :meta_tags do %>
  <meta property="og:title" content="Join Our Team - Careers at Transparental Solutions">
  <meta property="og:description" content="Explore exciting career opportunities at Transparental Solutions. Join our dynamic team of IT professionals and help businesses thrive with cutting-edge technology solutions.">
  <meta property="og:image" content="<%= image_url("careers.jpg")%>">
  <meta property="og:image:width" content="1024" />
  <meta property="og:image:height" content="663" />
  <meta property="og:image:type" content="image/jpg" />
  <meta property="og:url" content="<%= request.original_url %>">
  <meta property="og:type" content="website">
  <meta property="og:site_name" content="Transparental Solutions">

  <!-- Twitter Meta Tags -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="Join Our Team - Careers at Transparental Solutions">
  <meta name="twitter:description" content="Explore exciting career opportunities at Transparental Solutions. Join our dynamic team of IT professionals and help businesses thrive with cutting-edge technology solutions.">
  <meta name="twitter:image" content="<%= image_url("careers.jpg")%>">
<% end %>

<div class="offwrap"></div>
<section>
  <!-- Main content Start -->
  <div class="main-content">
    <!--Full width header Start-->
      <%= render "header" %>
    <!--Full width header End-->
  </div>  
</section>
<section class="bg-light loaded" style="height:60vh">
  <div class="container">
  <h2 class="pt-5"> Careers </h2>
  <h6> coming soon......</h6>
  </div>
</section>
<%= render "footer" %>