<% content_for :head do %>
  <meta name="title" content="Contact Us | Transparental Solutions - IT Services and Consulting"/>
  <meta name="description" content="Contact Us for any solutions regarding custom software solutions, IT staffing services, and managed IT services to help businesses thrive with innovative technology."/>
<% end %>
<div class="offwrap"></div>
<section>
	<!-- Main content Start -->
	<div class="main-content">
		<!--Full width header Start-->
		<%= render "header" %>
		<!--Full width header End-->
	</div>  
</section>
<section>
  <div class="rs-breadcrumbs contact">
    <div class="container">
      <div class="breadcrumbs-inner">
        <div>
        <h1 class="page-title">
          Contact Us
          <span class="watermark">Contact Us</span>
        </h1>
        <span class="sub-text">  Establishes a connection between a competitor and a job</span>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="rs-contact contact-style2 bg9 pt-100 pb-100 md-pt-70 md-pb-70">
	<div class="container">
	  <div class="row">
	    <div class="col-lg-6 pr-40 md-pr-15 md-mb-50">
		    <div class="contact-map">
		      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2942.3357996976792!2d-83.42642458772491!3d42.48441317106138!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8824aff018289401%3A0x46966d5a963bf1cf!2sTransparental%20Solutions%20LLC!5e0!3m2!1sen!2sin!4v1709620505536!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
		    </div>
	    </div>
	    <div class="col-lg-6">
		    <div class="sec-title mb-45 md-mb-25">
		      <h2 class="title pb-20">
		        Reach Us for Staffing and Recruiting Services
		      </h2>
          <p class="">If you are looking for the best applicant or attempting to get your dream job,
            Transparental Solutions is the ultimate solution. We associate with businesses to receive what they need
            in an applicant – and fabricate mutual connections with the candidate to coordinate them
            towards their passionate job.
          </p>
          <p class="margin-0">We work with top Salesforce Consulting firms and designers in the USA to
            effortlessly convey commitment, fulfilling customers' cloud computing and Salesforce
            needs on a regular basis.
            Connect with us right away for more info.
          </p>
		    </div>
		    <div class="contact-wrap">
          <div id="form-messages"></div>
          <form id="contact-form1" class="contact-form" action="/create_inquiry" accept-charset="UTF-8" method="post"><input type="hidden" name="authenticity_token" value="fBr7G8Rhcd4jaXsjIbBZpinVH4P-zST1H8iE7CYwcmXwwpJJF-FQFUyLOtY7UoeBW2hjLuOapuqRK9GdBUh-hg" autocomplete="off" />
		        <fieldset>
              <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 mb-10">
                  <input class="from-control" placeholder="Name" required="required" type="text" name="inquiry[name]" id="inquiry_name" />
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 mb-10">
                  <input class="from-control" placeholder="E-Mail" required="required" type="email" name="inquiry[email]" id="inquiry_email" />
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 mb-10">
                  <input class="from-control" placeholder="Phone Number" required="required" type="text" name="inquiry[phone_number]" id="inquiry_phone_number" />
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 mb-10">
                  <input class="from-control" placeholder="Your Website" required="required" type="text" name="inquiry[website]" id="inquiry_website" />
                </div>
                <div class="col-lg-12 mb-20">
                  <textarea class="from-control" placeholder="Your message Here" required="required" name="inquiry[message]" id="inquiry_message" rows="5" cols="6">
                  </textarea>
			          </div>
		          </div>
		          <div class="btn-part">
			          <div class="form-group mb-20">
                  <input type="submit" name="commit" value="Submit Now" class="readon consultant discover" data-disable-with="Submit Now" />
                </div>
              </div>
		        </fieldset>
          </form>
        </div>
	    </div>
	  </div>
	</div>
	<div class="rs-contact main-home">
		<div class="container" style="max-width:1400px">
      <div class="contact-icons-style box-address pt-50 pb-50 md-pt-70">
        <div class="row">
          <div class="col-lg-4 col-md-12 col-sm-6 md-mb-30">
            <div class="contact-item">
              <div class="contact-icon">
                <%= image_tag("map.png")%>
              </div>
              <div class="content-text">
                <h2 class="title"><a href="#">USA office</a></h2>
                <p class="services-txt">38251 Remington park , Farmington Hills,MI,48331</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-12 col-sm-6 xs-mb-30">
            <div class="contact-item">
              <div class="contact-icon">
                <%= image_tag("email.png")%>
              </div>
              <div class="content-text">
                <h2 class="title"><a href="#">Email us</a></h2>
                <a href="mailto: info@transparentalsolutions.com" class="text-break"> info@transparentalsolutions.com</a>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-12 col-sm-6">
            <div class="contact-item">
              <div class="contact-icon">
                <%= image_tag("call.png")%>
              </div>
              <div class="content-text">
                <h2 class="title"><a href="#">Call us</a></h2>
                <a href="tel:320-412-3138">320-412-3138</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render "footer" %>